body {
    margin: 10px;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Roboto";
}

.container {
    display: flex;
}


.sideBar {
    display: flex;
    border: 1px solid #6f7b7b;
    width: 200px;
    height: 600px;
    border-radius: 5px;

    margin: 5px;
    flex-direction: column;
    align-items: start;
    padding-left: 20px;

}